@media screen and (min-width:700px){

}
@media screen and (max-width:701px){

}
body {
  background-color: #D4DFC7;
  color: white;
}
.me img{
  width: 100px;
  margin: auto;
  border-radius: 10px;
  border: solid 1px white;
  align-content: center;
  margin: 10px 10px 10px 10px;
  display: flex;
}

#aboutme{
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
  background-color: #96C0B7;
  border-radius: 10px;
  border: 1px solid white;
  display: flex;
  width: 300px;
  padding: 5px;
}
#mygoals{
  font-family: 'Oswald', sans-serif;
  color: brown;
  background-color: #96C0B7;
  border: 1px solid white;
  display: flex;
  width: 500px;
  border-radius: 10px;
  padding: 5px;
}
#Description{
  font-family:'Oswald', sans-serif;
  background-color: #96C0B7;
  border: 1px solid white;
  width: 1000px;
  border-radius: 10px;
  display: flex;
  padding: 5px;
}
ul{
  color: #605F5F;
  font-family: 'Montserrat', monospace;
  font-size: 20px;
}
p{
  color: #605F5F;
  font-family:'Montserrat', monospace;
  text-align: center;
  font-size: 20px;
}
h1{
  color: #725752;
  font-family:'Oswald', sans-serif;
  width: 500px;
  font-size: 30px;
  display: flex;

}
h2{
  color: #725752;
  font-family: 'Oswald', sans-serif;
  display: flex;
  width: 300px;
  font-size: 30px;
}
h3{
  color: #725752;
  font-family: 'Oswald', sans-serif;
  display: flex;
  font-size: 30px;
  width: 300px;
  height: 350px;
}
.pasta img{
  width: 100px;
  align-content: center;
  display: flex;
  border-radius: 10px;
  border: solid 1px white;
  margin: 10px 10px 10px 10px;
  margin-top: 150px;
  left: 400px;

}
.paris img{
  border-radius: 10px;
  border: solid 1px white;
  align-content: center;
  margin: 10px 10px 10px 10px;
  width: 100%;
  border-color: white;
  display: flex;
  left: 600px;
  margin-top: 150px;

}
